:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html{
  margin: 0;
  padding: 0; 
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(208, 208, 208);
}

h1 {
  font-size: 2.3em;
  line-height: 0.5;
}

hr{
  border-top: 1px solid black;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #141414;
  margin-top: 1rem;
}
button:hover {
  border-color: #91c8ea;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root{
  padding: 0;
 
}
.card {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#resumeContainer {
  width: 800px;
  height: 945px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#resumeHeader {
  width: 865px;
  height: 155px;
  display: flex;
  flex-direction: column;
  background-color: #DBE4EE;
 
}

#resumeBody {
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 800px;
  height: 855px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  

}


.resumeSection {
  display: flex;
  flex-direction: column;
  align-items:start;
  text-align: left;
  overflow-wrap: break-word;
}

.resumeSection > h2{
  margin-bottom: -2%;
  
}
.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputGroup > label{
 text-align: left;
}

#inputSections > * {
  margin-bottom: 1rem;
}

#wrapper {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}


#rowWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}